/*...font poppins added here....*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}


.football {
    display: flex;
    color: #FFFFFF;
    margin-left: 110px;
    margin-top: 50px;
    margin-right: 110px;
    margin-bottom: 110px;
    background: #161616;
    border-radius: 30px;
    align-items: flex-end;

}

.section-title {
    padding: 20px 100px 30px 100px;
}

.title {
    font-style: normal;
    font-weight: 600;
    font-size: 55px;

}

.title-text {
    font-weight: normal;
    font-size: 13px;
    font-family: 'Poppins';

}

.button-icon {
    display: flex;
    background: #DD0000;
    width: 140px;
    border-radius: 5px;
    justify-content: center;
}

.live-button,
.icon {
    color: white;
    text-decoration: none;
}

.banner-player {
    padding-top: 0px;
    padding-right: 48px;
}

/*-----section second starts from here------------match button-blog-information---*/

main {
    display: flex;
    justify-content: center;
    margin-left: 10px;
    margin-bottom: 60px;
}

.match-information {
    background: #161616;
    border-radius: 10px;
    width: 220px;
    height: 280px;
    text-align: center;
    padding: 20px;
    margin-top: 14px;
}

.button1,
.button2 {
    background: #FFFFFF;
    width: 180px;
    height: 50px;
    border-radius: 10px;
    margin: 25px;
    align-items: center;
    padding-top: 20px;
}


.button {
    text-decoration: none;
    color: black;
}

.button3 {
    background: #DD0000;
    width: 180px;
    height: 50px;
    border-radius: 10px;
    margin: 25px;
    padding-top: 20px;
}

.blog {
    text-decoration: none;
    color: white;
}


/*---transfer-blog-information--*/
.transfer-blog {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.transfer-information {
    width: 230px;
    height: 290px;
    border: 5px solid whitesmoke;
    border-radius: 5px;
    margin: 10px;
}

.transfer-image {
    width: 230px;
    height: 120px;
    border-radius: 10px 10px 0px 0px;
    margin-bottom: 15px;
}

.transfer-button {
    width: 100px;
    height: 50px;
    border: 1px solid rgba(22, 22, 22, 1);
    font-size: 12px;
    color: black;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    margin-left: 20px;
}

.news {
    padding-left: 10px;
}

.duration-information {
    display: flex;
    justify-content: space-around;
    font-size: 10px;
    font-weight: normal;
    color: rgba(82, 80, 80, 0.7);
}

/*---footer area--*/

.footer-information {
    background-color: black;
    height: 320px;
}

.footer-text {
    text-align: center;
    color: white;
    padding-top: 60px;
}

hr {
    width: 85%;
    position: center;
    background-color: rgb(59, 55, 55);
    border: 0 none;
    color: rgb(180, 161, 161);
    height: 1px;

}

.footer-service {
    color: rgb(186, 177, 177);
    display: flex;
    font-size: 12px;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

/*---footer icon social media--*/
.footer-icon {
    display: flex;
    justify-content: space-evenly;
    font-size: 40px;
    color: white;
}

/*---second page assignment started from here--*/

.button-group,
.button-white {
    width: 160px;
    height: 40px;
    border-radius: 10px;
    margin: 25px;
    align-items: center;
    padding-top: 20px;
    background: #FFFFFF;
}


.button-match {
    background: #DD0000;
    width: 160px;
    height: 40px;
    border-radius: 10px;
    margin: 25px;
    padding-top: 20px;
    color: #FFFFFF;
}

.white {
    color: black;
    text-decoration: none;
}

/*--------match schedule area---------*/
.parent-container {
    display: flex;
    justify-content: center;
    margin-left: 10px;
    margin-bottom: 60px;
}

.match-live-button {
    background: #161616;
    border-radius: 10px;
    width: 200px;
    height: 250px;
    text-align: center;
    padding: 20px;
    margin-right: 10px;
    margin-top: 6px;
}

.cup-match {
    justify-content: space-around;
    font-size: 10px;
    margin: 5px;
    border: 2px solid whitesmoke;
    border-radius: 5px;
    padding: 20px 10px 20px 10px;

}

.time {
    justify-content: space-around;
    font-size: 10px;
    font-weight: normal;
    color: rgba(82, 80, 80, 0.7);
}

.match-list {
    display: flex;
    width: fit-content;

}

.competition {
    padding: 15px;
}

.country-schedule {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-right: 5px;
}

.schedule {
    text-align: center;
}