/*...font poppins added here....*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}


.football {
    display: flex;
    color: #FFFFFF;
    margin-left: 110px;
    margin-top: 50px;
    margin-right: 110px;
    margin-bottom: 110px;
    background: #161616;
    border-radius: 30px;
    align-items: flex-end;

}

.section-title {
    padding: 20px 100px 30px 100px;
}

.title {
    font-style: normal;
    font-weight: 600;
    font-size: 55px;

}

.title-text {
    font-weight: normal;
    font-size: 13px;
    font-family: 'Poppins';

}

.button-icon {
    display: flex;
    background: #DD0000;
    width: 140px;
    border-radius: 5px;
    justify-content: center;
}

.live-button,
.icon {
    color: white;
    text-decoration: none;
}

.banner-player {
    padding-top: 0px;
    padding-right: 48px;
}

/*-----section second starts from here----*/
.match-information {
    background: #161616;
    border-radius: 10px;
    width: 260px;
    height: 290px;
    text-align: center;
    padding: 15px;
    margin-left: 20px;
}

.button1,
.button2 {
    background: #FFFFFF;
    width: 180px;
    height: 50px;
    border-radius: 10px;
    margin: 25px;
    align-items: center;
    padding-top: 20px;
}

.button {
    text-decoration: none;
    color: black;
}

.button3 {
    background: #DD0000;
    width: 180px;
    height: 50px;
    border-radius: 10px;
    margin: 25px;
    padding-top: 20px;
}

.blog {
    text-decoration: none;
    color: white;
}

/*---blog section--transfer--area--*/
.transfer-image {
    width: 250px;
    height: 150px;
    border-radius: 10px 10px 0px 0px;
    margin-bottom: 15px;
}

.transfer-button {
    width: 250px;
    height: 200px;
    border: 1px solid rgba(22, 22, 22, 1);
    font-size: 12px;
    color: black;
    text-decoration: none;
    padding: 7px;
    border-radius: 5px;
}